*.swp
~*
*~
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
*.xml
vendor
_notebooks/.ipynb_checkpoints
# Local Netlify folder
.netlify
.tweet-cache
__pycache__
_notebooks/dictBackup.ipynb
_notebooks/2023-03-13-AP-unit2-4a.ipynb
_notebooks/2023-03-16-AP-unit2-4b.ipynb