_posts/2022-08-23-intro-to-python-lecture.md
_posts/2022-08-23-quiz-time.md
_posts/2022-08-24-lecture2.md
_posts/2022-08-25-bash-lecutre.md
_posts/2022-08-28-tool-check.md
_posts/2022-08-29-python_lists_lecture.md
_posts/2022-09-05-change_theme.md
_posts/2022-09-05-My-Team.md
_posts/2022-09-15-first-notebook.md
_posts/2022-09-15-Happy-Essay.md
_pages/submenu.md
_posts/2022-10-3.14-LibrariesANDrandomvalues.md
_posts/2022-12-12-hw.md
_posts/2022-12-14-117-118-homework.md
_posts/2022-12-15-otherThings.md
_posts/2022-12-15-u3L9&11.md
_posts/2023-01-03-dictBackup.md
