_posts/2022-08-23-intro-to-python-lecture.md
_posts/2022-08-23-quiz-time.md
_posts/2022-08-24-lecture2.md
_posts/2022-08-25-bash-lecutre.md
_posts/2022-08-28-tool-check.md
_posts/2022-08-29-python_lists_lecture.md
_posts/2022-09-05-change_theme.md
_posts/2022-09-05-My-Team.md
_posts/2022-09-15-first-notebook.md
_posts/2022-09-15-Happy-Essay.md
_pages/submenu.md