/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";   



/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/

@import "minima/dark-mode";


  head, html 
  { color:green !important; 
    
    background-color: lightblue }

  head {
    color: green !important;
  }

  a:link {
    color: green !important;
  }

  a:hover {
    color: rgb(214, 249, 214) !important;
  }

  p {
    color: rgb(96, 230, 96) !important;
  }

  a {
    color: green !important;
  }

  h1 {
    color: green !important;
  }

  h2 {
    color: green !important;
  }

  h3 {
    color: green !important;
  }

  .page-description {
    color: green !important;
  }
// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
@import "minima/fastpages-dracula-highlight"; 
