/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";   



/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/

@import "minima/dark-mode";


body, html 
  { color:green !important; background-color: lightblue } 

  head, html 
  { color:green !important; background-color: lightblue }

  p {
    color: green !important;
  }

  a:link {
    color: green;
  }

  a:hover {
    color: lightgreen;
  }


// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
@import "minima/fastpages-dracula-highlight"; 
